/* Layout */
.l-wrapper, .l-header, .l-footer {width:960px; margin:2em auto 4em; clear:both; overflow:hidden}
.l-header-auth {float:right; padding:5px; margin-bottom:5px}
.l-header-auth img {height:10px}
.l-header-logo {float:left; overflow:hidden; margin-right:15px; margin-bottom:10px}
.l-header-search {float:left}
.l-header-nav {float:left; overflow:hidden}
.l-header-nav ul {float:left; list-style:none}
.l-header-nav ul li {float:left; list-style:none; margin-right:5px}

.l-content {float:right; width:860px; padding-right:20px}
.l-content .module {overflow:hidden; margin-bottom:2em}
.l-sidebar {float:left; width:60px; padding:10px}

.l-footer-nav ul li {float:left; list-style:none; margin-right:5px}

/* Colors */
a {color:#06a}
.l-sidebar {background:#f0f0f0}
.l-header-nav ul p a {color:black}
.l-header-auth {background:#f0f0f0}

/* Fonts */
.l-body {font:80% Arial,Verdana,Tahoma,sans-serif}
.l-body h1 {font-size:200%}
.l-body h2 {font-size:150%; margin-bottom:.5em}
.l-body h3 {font-size:120%; margin-bottom:.3em}
.l-header-nav ul p {font-size:150%}
.l-footer-nav ul li {font-size:85%}

/* Misc */
.l-content .module form {margin-bottom:1em}
.l-content .module .form-group {margin-bottom:1em}
.l-content .module .form-field {margin-bottom:.5em; overflow:hidden}
.l-content .module .form-field label {float:left; width:150px; line-height:2em}
.l-content .module .form-field input,
.l-content .module .form-field select {width:200px}
.l-content .module .form-field textarea {width:400px}
.l-content .module .form-field b {float:left; line-height:2em}
.l-content .module .form-control {margin-top:1em; padding-top:1em; border-top:1px solid #d0d0d0}
.l-content .module .form-notice,
.l-content .module .form-error {border: 2px solid; padding: 5px 10px; margin-bottom:1em}
.l-content .module .form-error {background-color: #FFDBDB; border-color: #F26666}
.l-content .module .form-notice {background-color: #C5FCA3; border-color: #62CF21}
.l-content .module .form-error-exp {color:red; font-size:80%}